.first-banner{
    background-image: url(../../images/Gallery/img0.jpg);
    /* margin: 5rem 0; */
}

.left-side{
    margin: 6rem 0;  
}

.left-side .heading{
    font-size: 3rem;
    font-weight: 700;
    color: #e72e77;
    line-height: 5rem;
    padding: 7px 0;
}

.left-side .subheading{
    color: #e72e77;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.left-side .para{
    color: #e72e77;
    padding-right: 4rem;
    font-size: 1rem;
}

.left-side .button{
    background-color: #e72e77;
    margin: 1rem 11rem;
}

.left-side .icon{
    color: #e72e77;
}

.first-row-image{
    margin: 2rem 0;
}
.first-row-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1rem solid #fff;

}

.first-row-image .first-row-image-1 img{
    width: 550px;
}

.first-row-image .first-row-image-2 img{

    width: 270px; 
}

/*  */


.row-1-left img{
    width: 100%;
    height: 100%;
    margin-right: -24px;
    
}

.row-1-right img{
    width:109%;
    height: 100%;
    margin-left: -48px;
}

.row-2-left img{
    width: 100%;
    height: 60vh;    
}

.row-2-right img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: -24px;
}

.row-3-image .row-31 img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-right: -15px;
}
.row-3-image .row-32 img{
    width: 110%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: -24px;  
}
.row-3-image .row-33 img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: -24px;
}
.row-4-left img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-right: -24px;
}
.row-4-right img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: -24px;
}

/* last section */
.last-section{
    background-color: #d3ebeb;
    padding: 5rem;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items: flex-start;
}

.last-section .heading{
    color: #e72e77;
    font-size: 2rem;
    font-weight: 700;
}
.last-section .para{
    font-size: 0.9rem;
    color: #e72e77;
}

.last-section .third-line{
    color: #e72e77;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.last-section .button{
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.7rem 2.5rem;
}